@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  color: black;
}

.HiddenAnimation{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-30px);
  transition: 1s;
}
.HiddenAnimationStats{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-30px);
  transition: 1s;
}

.HiddenAnimationStats:nth-child(2) {
  transition-delay: 400ms;
}
.HiddenAnimationStats:nth-child(3) {
  transition-delay: 200ms;
}
.HiddenAnimation:nth-child(2) {
  transition-delay: 400ms;
}

.ShowAnimation{
  filter: blur(0px);
  transform: translateY(0px);
  opacity: 1;
}

.HiddenAnimation:nth-child(3) {
  transform: translateY(0px);
  transition-delay: 1s;
  filter: blur(0px);
}

.SlideUp{
  transform: translateY(25px);
  transition: 1s cubic-bezier(0, 0, 0.6, 1);
}

.SlideUpAnimation{
  transform: translateY(0px);
}



.navbar-shadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 12px 0px;
}

.Apprentice{
  background-image: url('../assets/images/HeroUnderlineDesktop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 100%;
}

.ApprenticeDesk{
  background-image: url('../assets/images/HeroUnderline.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 10%;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .Apprentice{
    background-image: url('../assets/images/HeroUnderline.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 100%;
  }
}

@media screen and (min-width: 760px) {
  .Apprentice{
    background-image: url('../assets/images/HeroUnderlineDesktop.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 100%;
  }
  .gradient{
    background: linear-gradient(180deg, rgb(248, 240, 230) 0%, rgb(215, 229, 247) 100%);
  }
}
.gradientmobile{
  background: linear-gradient(180deg, rgb(248, 240, 230) 0%, rgb(215, 229, 247) 100%);
}

.gradient{
  background: linear-gradient(90deg, rgb(248, 240, 230) 0%, rgb(215, 229, 247) 100%);
}

.gradient2{
  background: linear-gradient(90deg, #FAF4EC 0%, #d8e5f5 100%) !important;
}
@keyframes slide-in {
  10% { transform: translateY(-5%); }
  100% { transform: translateY(0%);opacity: 1; }
}
@keyframes slide-out {
  50% {transform: translateY(-10%); opacity: 0;}
  100% { transform: translateY(-15%); }
}

.SlideIn{
  transform: translateY(-15%);  
  opacity: 0;
  animation: slide-in .7s forwards;
}
.SlideOut{
  transform: translateY(0%);  
  opacity: 1;
  animation: slide-out .8s forwards;
}

.bgc{
  background-color: rgb(218, 218, 250);
}
.box_shadow{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.no_box_shadow{
  box-shadow: none;
}
.box_shadow2{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.bxs{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px, rgba(149, 157, 165, 0.2) 0px 2px 4px -1px;
}

.FadeInAnimation{
  opacity: 1;
  transition: 1s;
}

.FadeInAnimation:nth-child(2) {
  transition-delay: 400ms;
}
.FadeInAnimation:nth-child(3) {
  transition-delay: 400ms;
}
.FadeInAnimation:nth-child(2) {
  transition-delay: 400ms;
}
#sideBar{
  animation: slidein .2s forwards;
}
@keyframes slidein {
  0% { transform: translateX(-15%); }
  100% { transform: translateX(0%);opacity: 1; }
}