@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  color: black;
}

.HiddenAnimation{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-30px);
  transition: 1s;
}

.HiddenAnimation:nth-child(2) {
  transition-delay: 400ms;
}

.ShowAnimation{
  filter: blur(0px);
  transform: translateY(0px);
  opacity: 1;
}

.HiddenAnimation:nth-child(3) {
  transform: translateY(0px);
  transition-delay: 1s;
  filter: blur(0px);
}

.SlideUp{
  transform: translateY(25px);
  transition: 1s cubic-bezier(0, 0, 0.6, 1);
}

.SlideUpAnimation{
  transform: translateY(0px);
}